
h1{
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#collapsibleNavbar {
    margin-left: 516px;
}

#headingImg {
    width: 448px;
    margin-left: 127px;
    margin-top: -37px;
}

.heading {
    margin-top: 64px;
}

#first2, #first3 {
    margin: 5px 200px 0px;
    padding: 30px;
    /* background-color: azure; */
    /* display: block; */
    display: none;
}
#first1{
    margin: 5px 200px 0px;
    padding: 30px;
    /* background-color: azure; */
    display: block;
    /* display: none; */
}
#portfolio2,#portfolio3{
    display: none;
}
#first,#second,#third,#portBnt1,#portBnt2,#portBnt3 {
    background-color: #9FB9E5;
    border: none;
    border: none;
    border-radius: 5px;
    font-size: 23px;
    cursor: pointer;
    /* padding-left: 117px; */
    padding: 3px 50px;
    text-align: center;
    margin: 0 20px 0;
    color: rgb(0, 0, 0);
}

#first,#portBnt1:hover{
    background-color: rgb(11, 211, 218);
    transition-duration: 1s;
    color: white;
}
#second,#portBnt2:hover{
    background-color: rgb(11, 211, 218);
    transition-duration: 1s;
    color: white;
}
#third,#portBnt3:hover{
    background-color: rgb(11, 211, 218);
    transition-duration: 1s;
    color: white;
}




.btnStyle {
    /* margin: 20px 0 0 231px; */
    text-align: center;
}
.serviceMain{
    display: flex;
}
.card{
    margin-left: 20px;
}
.services{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
margin-bottom: -100px;
}

.serviceHeading{
    padding-top: 50px;
    padding-bottom: 20px;
}
.aboutUsImg {
    padding-right: 69px;
}

element.style {
    margin-top: 39px;
}

/* Portfolio section */

#portfolio {
    margin-top: 165px;
}
.portfolio {
    margin-left: 156px;
    margin-top: 20px;
    margin-bottom: 30px;
}